In [1]:
#Display the text “Hello World! I wonder why that is always the default coding text to start with”
print("Hello World! I wonder why that is always the default coding text to start with")

Hello World! I wonder why that is always the default coding text to start with

In [2]:
#Add two numbers together
2+3

5

In [3]:
#Subtract a number from another number
5-3

2

In [4]:
#Multiply two numbers
2*3

6

In [6]:
#Divide between two numbers
6/3

2.0

In [8]:
#Concatenate two strings together (any words)
print("Hello" + " " + "World!!!")

Hello World!!!

In [16]:
#Create a list of 4 items (can be strings, numbers, both)
list_1 = [1,2,"Three", 4]
list_1

[1, 2, 'Three', 4]

In [17]:
#Append an item to your list (again, can be a string, number)
list_1.append("Five")
print(list_1)

[1, 2, 'Three', 4, 'Five']

In [18]:
#Create a tuple with 4 items (can be strings, numbers, both)
tuple_example= ("apple","banana","kiwi", 4)
print(tuple_example)

('apple', 'banana', 'kiwi', 4)